<html>

<body>

  <div id="download_div"></div>

  <script>
    function add_download_link(text, url){
      const link = document.createElement('a');
      link.setAttribute('href', url);
      link.innerHTML='<h2>'+text+'</h2>';
      document.getElementById("main_div").appendChild(link);
    }
    window.onload = function(){
      const os = getOS();
      if(os=="Windows"){
        add_download_link("download F3D for Windows", "http://....exe");
      }else if(os=="Mac OS"){
        add_download_link("download F3D for MacOS", "https://....dmg");
      }else if(os=="Linux"){
        add_download_link("download F3D for Linux", "http://....tar.gz");
      }
    };
  </script>

</body>

</html>
