<html>

<body>

  <p>Before the script...</p>

  <script>

    function add_download_link(text, url){
      const link = document.createElement('a');
      link.setAttribute('href', url)
      link.innerHTML='<h2>'+text+'</h2>'
      document.querySelector('h1').append(link);
    }

    window.onload = function(){
      const os = getOS(); // see https://stackoverflow.com/a/38241481
      if(os=="Windows"){
          add_download_link("download F3D for Windows", "http://....exe");
      }else if(os=="Mac OS"){
          add_download_link("download F3D for MacOS", "https://....dmg");
      }else if(os=="Linux"){
          add_download_link("download F3D for Linux", "http://....tar.gz");
      }
    };
  </script>

  <p>...After the script.</p>

</body>

</html>
