<html>

<body>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div id="download_div"></div>

  <script>
    function add_download_link(os, suffix, f3d_version){
      const link = document.createElement('a');
      if (os == 'Unsupported') {
        link.setAttribute('href', "https://github.com/f3d-app/f3d/releases/tag/v" + f3d_version);
      }
      else {
        link.setAttribute('href', "https://github.com/f3d-app/f3d/releases/download/v" + f3d_version + "/F3D-" + f3d_version + "-" + os + "x86_64-raytracing." + suffix);
      }

      link.innerHTML='<button class="btn"><i class="fa fa-download"></i> Download</button>';
      document.getElementById("download_div").appendChild(link);
    }

    function getOS() {
      var userAgent = window.navigator.userAgent,
          platform = window.navigator?.userAgentData?.platform || window.navigator.platform,
          macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
          windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
          os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
        os = 'macOS';
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
        os = 'Windows';
      } else if (/Linux/.test(platform)) {
        os = 'Linux';
      } else {
        os = 'Unsupported'
      }
      return os;
    }

    window.onload = function(){
      f3d_version="2.0.0"
      const os = getOS();
      const suffix;
      if(os=="Windows"){
        suffix = "exe"
      }else if(os=="Mac OS"){
        suffix = "dmg"
      }else if(os=="Linux"){
        suffix = "deb"
      }
      add_download_link(os, suffix, f3d_version);
    };
  </script>

</body>

</html>
